*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

#navbar{
    height: 60px;
    background-color: #0f1111;

}

 
#button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.box{
    color: #0f1111;
}